
.container {
    padding: 0 4%;
    max-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

.feature__content-wrap {
    background-color: @color__feature-content--background;
    padding: 200px 10% 200px 45%;
    @media @tablet {
        padding: 200px 10% 200px 10%;
    }
}

.feature__headline,
.feature__strapline {
    max-width: 100%;
}
